---
announcer:
  calling_for: "Fridays"
  announcer_type: tts
  discord_prefix: ''
  discord_onjoin: '$start'
  enable_splorts_center: true
  friends:
    - 'com.apple.speech.synthesis.voice.daniel.premium'
    - 'com.apple.speech.synthesis.voice.Alex'
    - 'com.apple.speech.synthesis.voice.fiona.premium'
    - 'com.apple.speech.synthesis.voice.karen.premium'
    - 'com.apple.speech.synthesis.voice.moira'
    - 'com.apple.speech.synthesis.voice.rishi'
    - 'com.apple.speech.synthesis.voice.samantha'
    - 'com.apple.speech.synthesis.voice.tessa'
    - 'com.apple.speech.synthesis.voice.veena'
    - 'com.apple.speech.synthesis.voice.Victoria'
    - 'com.apple.speech.synthesis.voice.kate.premium'
    - 'com.apple.speech.synthesis.voice.lee.premium'
    - 'com.apple.speech.synthesis.voice.oliver.premium'
    - 'com.apple.speech.synthesis.voice.serena.premium'
  localization:
    global:
      -
        pattern: '([Tt]op|[Bb]ottom) of 1,'
        replace: '\1 of the first.'
      -
        pattern: '([Tt]op|[Bb]ottom) of 2,'
        replace: '\1 of the second.'
      -
        pattern: '([Tt]op|[Bb]ottom) of 3,'
        replace: '\1 of the third.'
      -
        pattern: '([Tt]op|[Bb]ottom) of (\d*),'
        replace: '\1 of the \2th.'
      -
        pattern: '-infinity'
        replace: 'negative infinity'
      -
        pattern: 'Dale'
        replace: 'Dah lay'
    com.apple.speech.synthesis.voice.fiona.premium:
      -
        pattern: '(\d*)-(\d*)'
        replace: '\1 \2'
    com.apple.speech.synthesis.voice.Alex:
      -
        pattern: '[Bb]laseball'
        replace: 'blais ball'
    com.apple.speech.synthesis.voice.Victoria:
      -
        pattern: '[Bb]laseball'
        replace: 'blais ball'
    com.apple.speech.synthesis.voice.rishi:
      -
        pattern: '[Pp]ies'
        replace: 'pyes'
      -
        pattern: 'II'
        replace: 'the second'
    com.apple.speech.synthesis.voice.veena:
      -
        pattern: '[Pp]ies'
        replace: 'pyes'

blurses:
  enabled: false

sound_root_folder: media
sounds:
  cheer:
    file: cheering.wav
    volume: -16
  crowd:
    file: crowd_applause.wav
    volume: -18
  bat_hit:
    file: bat_hit.wav
    volume: -10
  bat_hit2:
    file: bat_hit2.wav
    volume: -10
  bat_hit3:
    file: bat_hit3.wav
    volume: -10
  roar:
    file: roar.wav
    volume: -13
  incineration:
    file: short_incineration.wav
    volume: -15
  crowd_oh:
    file: crowd_ooh.wav
    volume: -14
  splorts_update:
    file: stinger.wav
    volume: -14

sound_cues:
  -
    trigger: incinerated
    sounds:
      - incineration
    delay: 0.0
  -
    trigger: incinerated
    sounds:
      - crowd_oh
    delay: 0.0
  -
    trigger: scores
    sounds:
      - cheer
    delay: 0.7
  -
    trigger: scored!
    sounds:
      - cheer
    delay: 0.7
  -
    trigger: Single
    sounds:
      - crowd
    delay: 0.2
  -
    trigger: Double
    sounds:
      - cheer
    delay: 1.1
  -
    trigger: double play
    sounds:
      - cheer
    delay: 1.1
  -
    trigger: Triple
    sounds:
      - cheer
    delay: 1.1
  -
    trigger: triple play
    sounds:
      - cheer
    delay: 1.1
  -
    trigger: hit
    sounds:
      - bat_hit
      - bat_hit2
      - bat_hit3
    delay: 0
  -
    trigger: foul
    sounds:
      - bat_hit
      - bat_hit2
      - bat_hit3
    delay: 0
  -
    trigger: reaches
    sounds:
      - bat_hit
      - bat_hit2
      - bat_hit3
    delay: 0
  -
    trigger: home run
    sounds:
      - roar
    delay: 1.2
  -
    trigger: ground out
    sounds:
      - crowd
    delay: 0.3
  -
    trigger: struck out
    sounds:
      - crowd
    delay: 0.3
  -
    trigger: flyout
    sounds:
      - crowd
    delay: 0.3
  -
    trigger: grand slam
    sounds:
      - roar
    delay: 1.1
  -
    trigger: caught stealing
    sounds:
      - crowd_oh
    delay: 1.0
  -
    trigger: "Play ball"
    sounds:
      - roar
    delay: 0
  -
    trigger: welcome
    sounds:
      - crowd
    delay: 0
  -
    trigger: steals home
    sounds:
      - roar
    delay: 0
  -
    trigger: sacrifice
    sounds:
      - cheer
    delay: 0.5

quips:
  -
    phrases:
      - '{pitcher} readying to pitch.'
      - '{batter} waiting for the pitch.'
      - '{pitcher} throws!'
    trigger_before:
      - Ball.
      - Strike
      - hit
      - Foul
      - strike
      - walk
    args:
      pitcher: 'game.pitching'
      batter: 'game.at_bat'
    chance: 0.1
    conditions: 'game.pitching or game.at_bat'
  -
    phrases:
      - "And that's the ball game."
      - "And that's game."
    trigger_before:
      - "Game over"
  -
    phrases:
      - '{at} {as}, {ht} {hs}.'
    trigger_after:
      - Game over
      - home run
    args:
      at: 'game.away_team'
      as: 'game.away_score'
      ht: 'game.home_team'
      hs: 'game.home_score'
    conditions: 'game.away_score != game.home_score'
  -
    phrases:
      - '{at} leave in shame!'
    trigger_after:
      - 'Game over'
    args:
      at: 'game.away_team'
    conditions: 'game.shame is True'
  -
    phrases:
      - '{left} out{left_s} left'
      - '{tab} with {outs} out{outs_s}'
      - '{left} out{left_s} remaining for the {tab}'
      - '{tab} have {outs} out{outs_s}'
    trigger_after:
      - Strike
      - strike
    args:
      tab: 'game.team_at_bat'
      outs: 'game.outs'
      left: '3 - game.outs'
      outs_s: 'utils.plural(game.outs)'
      left_s: 'utils.plural(3 - game.outs)'
    chance: 0.4
    conditions: 'game.outs > 0'
  -
    phrases:
      - '{tb} of the {i}'
    trigger_after:
      - batting for
    args:
      tb: '"top" if game.top_of_inning else "bottom"'
      i: 'game.inning'
    chance: 0.1
  -
    phrases:
      - '{left} out{left_s} left'
      - '{tab} with {outs} out{outs_s}'
      - '{left} out{left_s} remaining for the {tab}'
      - '{tab} have {outs} out{outs_s}'
    trigger_after:
      - 'batting for'
    args:
      tab: 'game.team_at_bat'
      outs: 'game.outs'
      left: '3 - game.outs'
      outs_s: 'utils.plural(game.outs)'
      left_s: 'utils.plural(3 - game.outs)'
    chance: 1.0
    conditions: '0 < game.outs < 3'
  -
    phrases:
      - '{p} pitching.'
    trigger_after:
      - 'batting for'
    args:
      p: 'game.pitching'
    chance: 0.3
  -
    phrases:
      - '{num} runner{s} on base.'
      - '{who} on {base}.'
    trigger_after:
      - 'batting for'
    args:
      num: 'game.bases_occupied'
      s: 'utils.plural(game.bases_occupied)'
      who: 'game.runners[-1][0]'
      base: 'game.runners[-1][1]'
    conditions: '0 < game.bases_occupied < 3'
    chance: 1.0
  -
    phrases:
      - 'bases loaded.'
    trigger_after:
      - 'batting for'
    conditions: 'game.bases_occupied == game.base_count - 1'
    chance: 1.0
  -
    phrases:
      - '{ledger}.'
    trigger_after:
      - 'scored!'
    args:
      ledger: 'game.score_ledger'
    conditions: 'bool(game.score_ledger)'
    chance: 1.0
  -
    phrases:
      - '{at} {as}, {ht} {hs}.'
      - '{lt} up {ls} {us}.'
    trigger_after:
      - 'out'
      - 'score'
      - 'Single'
      - 'Double'
      - 'Triple'
      - 'home run'
      - 'grand slam'
    args:
      at: 'game.away_team'
      as: 'game.away_score'
      ht: 'game.home_team'
      hs: 'game.home_score'
      lt: 'game.away_team if game.away_score > game.home_score else game.home_team'
      ls: 'game.away_score if game.away_score > game.home_score else game.home_score'
      us: 'game.away_score if game.away_score < game.home_score else game.home_score'
    conditions: 'game.batting_change and game.away_score != game.home_score'
    chance: 0.5
  -
    phrases:
      - 'game tied!'
      - '{ab} tied {s} {s}.'
      - 'game tied {s} {s}.'
      - '{at} {ht} tied {s} {s}.'
    trigger_after:
      - 'home run'
      - 'score'
    args:
      at: 'game.away_team'
      ht: 'game.home_team'
      s: 'game.away_score'
      ab: 'game.team_at_bat'
    conditions: 'game.away_score == game.home_score'
    chance: 1.0
  -
    phrases:
      - 'game tied!'
      - '{ab} tied {s} {s}.'
      - 'game tied {s} {s}.'
      - '{at} {ht} tied {s} {s}.'
    trigger_after:
      - 'out'
    args:
      at: 'game.away_team'
      ht: 'game.home_team'
      s: 'game.away_score'
      ab: 'game.team_at_bat'
    conditions: 'game.away_score == game.home_score and game.batting_change'
    chance: 0.5
  -
    phrases:
      - "oh, and that's a bad miss."
    trigger_before:
      - 'struck out swinging'
    chance: 0.3
  -
    phrases:
      - "now that's some blays ball!"
      - "the commissioner is doing a great job!"
      - "REPENT."
    trigger_after:
      - 'incinerated'
    chance: 1.0
  -
    phrases:
      - "the umpire's gone rogue!"
      - "are the umpire's eyes glowing?"
      - "holy smokes!"
    trigger_before:
      - 'incinerated'
    chance: 1.0
  -
    phrases:
      - "{tab} with the grand slam!"
      - "Get out the rye bread and mustard Grandma it's time for a grand salami."
      - "Break out the wine and cheese cuz that's a grand salami."
      - "Get out the rye bread and mustard {tab} for that grand salami sandwich."
      - "bah god, {pitcher} had a family!"
    trigger_after:
      - 'grand slam'
    args:
      tab: 'game.team_at_bat'
      pitcher: 'game.pitching'
    chance: 1.0
  -
    phrases:
      - "put a tent on that circus."
      - "nope, you can't do that."
      - "are you kidding me."
      - "yup, that's frustrating."
      - "woof."
      - "can't do that."
    trigger_after:
      - "strikes out swinging"
      - "caught stealing"
    chance: 0.1
    conditions: '(game.home_score - game.away_score > 5 and game.top_of_inning) or (game.away_score - game.home_score > 5 and not game.top_of_inning)'
  -
    phrases:
      - "Ruthless!"
      - "{p} looking ruthless today."
      - "the ruthlessness is strong with {p} today."
    trigger_after:
      - "strikes out"
    args:
      p: 'game.pitching'
    chance: 0.2
    conditions: 'not game.batting_change'
  -
    phrases:
      - "Now that's blaseball!"
      - "The fourth strikes back!"
      - "{tab} making good use of that fourth."
      - "{pitcher} make that four!"
    trigger_after:
      - "strikes out"
    args:
      tab: "game.team_at_bat"
      pitcher: "game.ptiching"
    chance: 0.2
    conditions: 'game.strikes == 4'
  -
    phrases:
      - "tee gee eye eff folks."
    trigger_after:
      - "Top of 1"
      - "Bottom of 1"
    chance: 1.0
    conditions: 'game.pitching_team == "Fridays"'
  -
    phrases:
      - 'And here comes the shame.'
      - 'What a shame.'
      - "They won't let us go home yet!"
      - 'What a stunning display of splortsmanship.'
      - 'A shame that is.'
      - 'When will this game end?'
    trigger_after:
      - 'score'
      - 'batting'
    args:
      tab: 'game.team_at_bat'
      score: 'game.home_score'
    chance: 1.0
    conditions: 'game.shame is True'
  -
    phrases:
      - '{ab} taking the field'
    trigger_after:
      - out
    args:
      ab: 'game.pitching_team'
    conditions: 'game.batting_change'
    chance: 1.0
  -
    phrases:
      - "Fletcher Yamamoto's family has arrived to watch."
    trigger_after:
      - 'bird'
    chance: 0.1
    conditions: '"Fridays" in (game.home_team, game.away_team)'
  -
    phrases:
      - 'The snack cart strikes again!'
      - "We've got a thirsty player!"
    trigger_after:
      - 'steals third base'
      - 'stealing third base'
    conditions: 'game.home_team == "Hawaii Fridays"'
    chance: 0.5
  -
    phrases:
      - "Baby on base."
    trigger_after:
      - "base"
    chance: 0.1
    conditions: 'any(("baby" in p for p in game.on_blase))'
  -
    phrases:
      - "Did you know that five or more bases was always a possibility? Heh. Wild!"
    trigger_after:
      - 'fourth base'
    chance: 0.2
  -
    phrases:
      - "Welcome to this broadcast of {at} at {ht}. I'm your host, Jlohn Mladden, ready for another beautiful day of blaseball."
    trigger_before:
      - 'Play ball!'
    args:
      at: 'game.away_team'
      ht: 'game.home_team'
    chance: 1.0
    conditions: 'set([game.away_team_nickname, game.home_team_nickname]) != set(["Fridays", "Magic"])'
  -
    phrases:
      - "Welcome to Friday Night Magic! I'm your host, Jlohn Mladden, ready for another magical cookout I mean game of blaseball!"
    trigger_before:
      - 'Play ball!'
    chance: 1.0
    conditions: 'set([game.away_team_nickname, game.home_team_nickname]) == set(["Fridays", "Magic"])'
  -
    phrases:
      - "Can you feel the heat?"
      - "Felt the heat off that one!"
    trigger_after:
      - "struck out"
    conditions: 'game.pitching == "Stevenson Heat"'
    chance: 0.25
  -
    phrases:
      - "poggers"
    trigger_after:
      - 'York Silk hits a solo home run'
      - 'York Silk hits a 2-run home run'
      - 'York Silk hits a 3-run home run'
      - 'York Silk hits a grand slam'
    chance: 1.0
  -
    phrases:
      - "I'll have what she's having!"
      - "Pour me a glass."
    trigger_after:
      - 'Juice Collins hits a Double'
    chance: 1.0
